  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      
      <a href="/">
        <button type="submit" class="btn btn-primary">Home</button>
      </a>
      <a href="/places">
        <button type="submit" class="btn btn-success">Add Places</button>
      </a>
      <a href="/collections">
        <button type="submit" class="btn btn-info">My Places</button>
      </a>
      <a href="/profiles">
        <button type="submit" class="btn btn-dark">Users</button>
      </a>
      <a href="/posts">
        <button type="submit" class="btn btn-light">Message Board</button>
      </a>
      <a href="/auth/logout">
        <button type="submit" class="btn btn-danger">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
