<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <form action="/places/activities" method="POST">
    <img src="https://i.imgur.com/duIi0D5.jpg" width="600" height="400"><br>
    <input name="borough" type="submit" value="Manhattan">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <img src="https://i.imgur.com/K1OSATm.jpg" width="700"><br>
    <input name="borough" type="submit" value="Brooklyn">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <img src="https://i.imgur.com/shm7IQe.jpg" width="700"><br>
    <input name="borough" type="submit" value="Queens">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <img src="https://i.imgur.com/UV2RAIa.jpg"><br>
    <input name="borough" type="submit" value="Bronx">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <img src="https://i.imgur.com/Mrwrg0p.jpg"><br>
    <input name="borough" type="submit" value="Staten Island">
  </form>
</main>

<%- include('../partials/footer') %>