<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <form action="/places/activities" method="POST">
    <input name="borough" type="submit" value="Manhattan">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <input name="borough" type="submit" value="Brooklyn">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <input name="borough" type="submit" value="Queens">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <input name="borough" type="submit" value="Bronx">
  </form>
  <br>
  <form action="/places/activities" method="POST">
    <input name="borough" type="submit" value="Staten Island">
  </form>
</main>

<%- include('../partials/footer') %>